body {
  font: normal 20px Avenir, Georgia, Helvetica;
}

h1 {
  font-size: 75px;
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  font-size: 20px;
  padding-bottom: 10px;
}

p {
  padding-bottom: 10px;
}

em {
  font-style: italic;
}

ol, ul {
  margin-left: 25px;
  padding-bottom: 10px;
}

ol li {
  list-style-type: decimal;
  padding-bottom: 10px;
}

ul li {
  list-style-type: disc;
  padding-bottom: 10px;
}

strong {
  font-weight: bold;
}

label {
  font-size: 30px;
}

.container {
  padding: 15px;
}

ul.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav-bar li {
  list-style-type: none;
  padding: 0;
}

ul.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body.page-home ul.nav-bar li a.page-home,
body.page-recipes ul.nav-bar li a.page-recipes,
body.page-contact ul.nav-bar li a.page-contact,
ul.nav-bar li a:hover {
    background-color: #111;
    transition: all .5s;
}

.whats-this {
  list-style-type: circle;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 480px){
  ul.nav-bar li {
    float: left;
  }

}
